NADOVIBE_IMAGE_TAG=local
NADOVIBE_APP_SERVER_ADAPTER_IMAGE=nadovibe/app-server-adapter:local
NADOVIBE_ORCHESTRATOR_IMAGE=nadovibe/orchestrator:local
APP_SERVER_ADAPTER_PORT=8091
ORCHESTRATOR_PORT=8092
