COMPOSE_PROJECT_NAME=nadovibe_core
NADOVIBE_IMAGE_TAG=local
NADOVIBE_ENV_PROFILE=local
NADOVIBE_BUILD_VERSION=0.1.0
NADOVIBE_GIT_SHA=local
NADOVIBE_EVENT_SCHEMA_VERSION=1
NADOVIBE_MIGRATION_VERSION=3
APP_SERVER_PROTOCOL_VERSION=official-docs-2026-04-23
NADOVIBE_CORE_IMAGE=nadovibe/core-control-plane:local
CORE_CONTROL_PLANE_PORT=8081
POSTGRES_DB=nadovibe
POSTGRES_USER=nadovibe
POSTGRES_PASSWORD=change-me-in-portainer-secret
NATS_ENABLED=false
SYSBASE_ENABLED=false
SYSBASE_LICENSE_ACCEPTED=false
NADOVIBE_VOLUME_ROOT=/var/lib/nadovibe
